:root {
  --borderRadius: 0.3em;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  height: 100vh;
  overflow: hidden;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
ul {
  /* flex-basis: 0;
  flex-grow: 1; */
  list-style-type: none;
}

li {
  display: flex;
  padding: 0;
  border-radius: var(--borderRadius);
  width: 300px;
  height: 60px;
  align-items: center;
}
figure {
  text-align: center;
  /* flex-basis: 0;
  flex-grow: 1.5; */
  /* margin : 2em; */
  margin-left: 1em;
}
.bullet-img {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-left: 0.5em;
  object-fit: cover;
  border-radius: var(--borderRadius);
  flex-shrink: 0;
}
.list-item-label {
  text-overflow: ellipsis;
  /* width: 270px; */
  margin: 20px;
  /* list-style-position: inside; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0.5em;
}
.main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--borderRadius);
}
figure {
  height: 90%;
  width: 30%;
}
.current {
  background: rgb(34, 95, 200);
  color: white;
}
#mainImageCaption {
  color: rgb(84, 84, 84);
  font-size: 1.3em;
}
