:root {
  --borderRadius: 0.3em;
  --selectedItemColor: rgb(34, 95, 200);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1em;
  height: 100vh;
  overflow: hidden;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
ul {
  list-style-type: none;
}

.bullet-img {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-left: 0.5em;
  object-fit: cover;
  border-radius: var(--borderRadius);
  flex-shrink: 0;
}

li {
  display: flex;
  padding: 0;
  border-radius: var(--borderRadius);
  width: 300px;
  height: 60px;
  align-items: center;
}
figure {
  text-align: center;
  margin-left: 1em;
}
.list-item-label {
  text-overflow: ellipsis;
  margin: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0.5em;
}
figure {
  height: 90%;
  width: 30%;
}
#mainImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--borderRadius);
}
.current {
  background: var(--selectedItemColor);
  color: white;
}
#mainImageCaption {
  color: rgb(99, 99, 99);
  font-size: 1.3em;
}
