:root {
  --borderRadius: 0.3em;
  --selectedItemColor: rgb(34, 95, 200);
  --boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1em;
  height: 100vh;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
  gap: 20px;
}
ul {
  height: fit-content;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
}

.bullet-img {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-left: 0.5em;
  object-fit: cover;
  border-radius: var(--borderRadius);
  flex-shrink: 0;
}

li {
  display: flex;
  padding: 0;
  border-radius: var(--borderRadius);
  width: 100%;
  max-width: 305px;
  align-items: center;
  transition: all 0.05s ease;
}
figure {
  height: 95%;
  width: 30%;
  min-width: 340px;
  text-align: center;
  margin: 0%;
  border-radius: var(--borderRadius);
}
.list-item-title {
  margin: 20px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 0.5em;
}
#mainImage {
  height: 95%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--borderRadius);
  transition: all 0.5s ease;
}
#mainImage:hover {
  transform: scale(1.01);
}
.current {
  background: var(--selectedItemColor);
  color: white;
}
#mainImageCaption {
  color: rgb(99, 99, 99);
  font-size: 1.3em;
  margin-top: 5px;
}
